input[type="text"], textarea {
  border-radius: .2em;
  border: 1px #ccc solid;
  padding: .5em;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  min-height: 15em;
}

.row {
  margin-bottom: 1em;
}

.form-validation-error {
  color: red;
  font-size: .65em;
  font-style: italic;
  padding-left: 0.5em;
}

.input-validation-error {
  border-color: rgb(255, 0, 0) !important;
  color: red;
}

.button-row {
  display: flex;
}

button {
  flex: auto;
}