input[type="text"], textarea {
  border-radius: .2em;
  border: 1px #ccc solid;
  padding: .5em;
  display: block;
  width: 100%;
  box-sizing: border-box;
}

textarea {
  min-height: 15em;
}

.row {
  margin-bottom: 1em;
}

.button-row {
  display: flex;
}

button {
  flex: auto;
  margin-right: 1em;
}

button:last-child {
  margin-right: initial;
}