html {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.25em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accent1-bg {
  background-color: #3A003E;
}
.accent1 {
  color: #3A003E;
}
.accent2-bg {
  background-color: #74007A;
}
.accent2 {
  color: #74007A;
}
.accent3-bg {
  background-color: #A53FAA;
}
.accent3 {
  color: #A53FAA;
}
.accent4-bg {
  background-color: #FAB0FA;
}
.accent4 {
  color: #FAB0FA;
}
.accent5-bg {
  background-color: #FFE9FF;
}
.accent5 {
  color: #FFE9FF;
}

a:visited {
  color: #74007A;
}

input, textarea, select, button {
  font-size: 1em;
}

textarea {
  border-radius: .2em;
  border: 1px #ccc solid;
  padding: .5em;
}

button {
  color: white;
  background-color: #74007A;
  padding: .5em;
  border-radius: .5em;
  border: 1px #3A003E solid;
  cursor: pointer;
}

button:hover {
  background-color: #A53FAA;
}

button.secondary {
  color: #222;
  background-color: white;
  border: 1px #222 solid;
}

button.secondary:hover {
  background-color: rgb(235, 235, 235);
}

.checkbox-label {
  position: relative;
  padding-left: 1em;
  cursor: pointer;
}

.checkbox-label input {
  display: none;
}

.checkbox-label .checkbox-custom {
  height: .8em;
  width: .8em;
  border: 1px #74007A solid;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: .1em;
}

.checkbox-label .checkbox-text {
  display: inline-block;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #74007A;
}

.checkbox-label .checkbox-custom::before {
  content: '✔';
  color: white;
  position: absolute;
  display: inline-block;
  font-size: .65em;
  left: 50%;
  top: 50%;
  transform: translate(-55%, -52%);
  border-radius: .1em; 
}

.checkbox-label input:checked ~ .checkbox-custom:after {
  content: '✔';
  color: white;
  position: absolute;
  display: inline-block;
  font-size: .65em;
  left: 50%;
  top: 50%;
  transform: translate(-55%, -52%);
  border-radius: .1em;
}

.form-validation-error {
  color: red;
  font-size: .65em;
  font-style: italic;
  padding-left: 0.5em;
}

.input-validation-error {
  border-color: rgb(255, 0, 0) !important;
  color: red;
}
