body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1a1d22;
  color: white;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

a {
  color: #61dafb;
}

a:visited {
  color: #479fb8;
}

a:active,
a:hover {
  color: #c0f1ff;
}

a:active {
  color: #a9fcff;
}
